.input-wrapper,
.textarea-wrapper {
    display: grid;
    gap: 1rem;

    position: relative;

    &:has(.error) {
        input {
            outline: 1px solid var(--danger);
        }
    }
}

input,
textarea {
    appearance: none;
    width: 100%;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: 0.8125rem 1rem;
    font: var(--body-md-regular);
    color: var(--text-body);

    &::placeholder {
        font: var(--body-md-regular);
        color: var(--input-placeholder);
    }

    &:focus,
    &:focus-within,
    &:focus-visible,
    &:active {
        outline: 1px solid var(--brand-light);
        outline-offset: 0;
    }
}

textarea {
    line-height: 1.5;
    resize: none;
}

input[type="text"],
input[type="email"] {
    height: 48px;
}

input[type='date'] {
    color: var(--input-placeholder);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 1rem;
        width: 1.25rem;
        height: 1.2rem;
        background: url(../../assets/calendar.svg) no-repeat center / contain;
    }

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

label {
    font: var(--body-sm-regular);
    color: var(--text-body);
}