* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
        /* BRAND COLORS */
        --brand-light: #59B2FF;
        --brand-mid: #3487CF;
        --brand-dark: #1D6FB6;

        /* ACCENT COLORS */
        --purple: #B259FF;
        --fuschia: #FF59F9;
        --pink: #FF598B;
        --orange: #FF8B59;
        --yellow: #FFCD59;
        --lime: #E1FF59;
        --green: #59FF91;
        --cyan: #59FFF9;
        --navy: #6A59FF;

        /* FEEDBACK COLOR */
        --danger: #FF5959;

        /* INPUT COLORS */
        --input-base: #1C1F21;
        --input-stroke: #363B40;
        --input-placeholder: #869198;

        /* SHAPE COLORS */
        --shape-background: #131516;
        --shape-body: #212427;
        --shape-button: #2D3136;
        --shape-hover: #383D42;

        /* TEXT COLOR */
        --text-body: #C8CDD0;
        --text-heading: #F9F9F9;

    /* FONTS */
        --font-baloo2: 'Baloo 2', sans-serif;
        --font-open-sans: 'Open Sans', sans-serif;
        --font-leckerli-one: 'Leckerli One', sans-serif;

        --logo: 400 2.5rem/1 var(--font-leckerli-one);
        
        --heading-md: 700 1.75rem/1 var(--font-baloo2); 
        --heading-sm: 700 1.125rem/1 var(--font-baloo2); 
        
        --body-md-light: 300 1rem/1 var(--font-open-sans);

        --body-md-regular: 400 1rem/1.3 var(--font-open-sans);
        --body-sm-regular: 400 0.875rem/1 var(--font-open-sans);
        --body-xs-regular: 400 0.75rem/1 var(--font-open-sans);

        --body-md-semibold: 600 1rem/1 var(--font-open-sans);
        --body-sm-semibold: 600 0.875rem/1 var(--font-open-sans);
        --body-xs-semibold: 600 0.75rem/1 var(--font-open-sans);
}

body {
    overflow: hidden;
    background-color: var(--shape-background);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.gap-16 {
    gap: 1rem;
}

.gap-12 {
    gap: 0.75rem;
}